.lol {
    background-color: #5C6BC0;
}

img.card-img-top {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
    padding: 5px;
}

.badge {
    font-size: 1rem;
}

li.list-inline-item {
    margin-bottom: 3px;
}
