.header col-xs-12 {
    background-color: #001f3f;
    color:#ffffff;
}
#header h1 {
    font-size:36pt;
}
#header a {
    color:#ffffff;
}
#footer {
    background-color: #001f3f;
}

.left_text {
    text-align;left;
    float:left;
}
.right_text {
    text-align: right;
    float;right;
}
.user, .user a{
    color:#ffffff;
    text-align: right;
}
.contents {
    margin-left: 40px;
}
.date {
    color: #828282;
}
.save {
    float: right;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.post {
    margin-bottom: 70px;

}
.post-button{
    text-align: right;
    padding-right: 30px;
}
.post h1 a, .post h1 a:visited {
    color: #000000;
}
