<div class="container">
  <h1>LostPetFinder.com.au</h1>
  <a href="{% url "home" %}">Home</a>&nbsp;|&nbsp;
  <a href="{% url "pets:list" %}">Lost Pets</a>&nbsp;|&nbsp;
  <a href="{% url "reunited-pets" %}">Reunited Pets</a>&nbsp;|&nbsp;
  <a href="{% url "about" %}">About</a>&nbsp;|&nbsp;
  <a href="{% url "contact" %}">Contact</a>&nbsp;|&nbsp;
  <a href="{% url "login" %}">Sign in</a>&nbsp;|&nbsp;
  <a href="{% url "register" %}">Join</a>&nbsp;|&nbsp;
  <a href="{% url "logout" %}">Logout</a>
</div>
