{% comment %}
  [User Account Activation]
  File name: account_activation_email.html
  Description: This HTMl file is used to send to new user's email address after
               online user registration is completed. The user then click on
               the activation email link to activate the account.
               The new login won't be working if the new user has not activate
               the account.
{% endcomment %}

Hi {{ user.first_name }}

Thank you for your registration!

Your username: {{ user.username }}

Please click on the link below to confirm your registration:
{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL
in a new browser window instead.

If you've received this mail in error, it's likely that someone entered
your email address by mistake while trying to registering new account. If you didn't
initiate the request, you don't need to take any further action and can safely
disregard this email.

Kind regards

The Lost Pet Finder AU Team
