{% extends "base_accounts.html" %}

{% block head_title %}Account Registration | {{ block.super }}{% endblock head_title %}

{% block div_card_header %}
  <h4>Account Registration</h4>
{% endblock div_card_header %}

{% block div_card_body %}
  <p>Almost finished...
  <p>We've emailed the instructions to your email for activating your account. You should receive the email shortly.</p>
  <p>If you don't receive an email, please check your spam folder.</p>
  <a href="{% url 'login' %}" class="btn btn-primary btn-block">Return to log in</a>
{% endblock div_card_body %}

{% block div_card_footer %}
  <div>
    Don't have an account? <a href="{% url 'register' %}" class="card-link">Register</a>
  </div>
{% endblock div_card_footer %}
