{% extends 'base_accounts.html' %}

{% comment %}
  [User Account Activation]
  File name: account_activation_invalid.html
  Description: this HTML template is used to display error/warning message
               the user when the account activation link is invalid or expired,
               the user does not exist, and user is already activated.
  Note: this comment block needs to be placed after the template tag {% extends... %}.
{% endcomment %}

{% block head_title %}
  Account activation failed | {{ block.super }}
{% endblock head_title %}

{% block div_card_header %}
    <h4>Account activation failed</h4>
{% endblock div_card_header %}

{% block div_card_body %}
  <div class="alert alert-danger" role="alert">
    <p>
      It looks like the activation link is expired or invalid!<br/>
      Please check the activation email for correct link and try again.
    </p>
    <p>If you have already activated your account click
      <a href="{% url 'login' %}">here</a> to login your account.
    </p>
  </div>
{% endblock div_card_body %}

{% block div_card_footer %}
  <div>
    Don't have an account? <a href="{% url 'register' %}" class="card-link">Register</a>
  </div>
{% endblock div_card_footer %}
