{% comment %}
  [Admin Page]
  File name: admin_partial_user_list.html
  Description: this partial HTML template is used to generate a list of users
               in table format for admin page 'GET /account/admin/'.
               The template is included within admin_user_list.html.
{% endcomment %}

{% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td align="center">{% if user.is_active %}<i class="fa fa-check" style="color: #008000;"></i>
      {% else %}<i class="fa fa-times" style="color: #FF0000;"></i>{% endif %}</td>
    <td align="center">{% if user.is_staff %}<i class="fa fa-check" style="color: #008000;">
      {% else %}<i class="fa fa-times" style="color: #FF0000;">{% endif %}</td>
    <td>
      <button type="button"
        class="btn btn-warning btn-sm js-update-user"
        data-url="{% url 'user_update' user.id %}">
        <i class="fa fa-pencil fa-fw"></i> Edit
      </button>
    </td>
    <td>
      <button type="button"
        class="btn btn-danger btn-sm js-delete-user"
        data-url="{% url 'user_delete' user.id %}">
        <i class="fa fa-trash-o fa-fw"></i> Delete
      </button>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No user</td>
  </tr>
{% endfor %}
