{% extends "base_accounts.html" %}

{% comment %}
  [Account Login]
  File name: login.html
  Description: login HTML page
  URL: GET /account/login/
{% endcomment %}

{% block head_title %}Login | {{ block.super }}{% endblock head_title %}

{% block div_card_header %}
  <h4>Login</h4>
{% endblock div_card_header %}

{% block div_card_body %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'snippets/form.html' %}
    <button type="submit" class="btn btn-primary btn-block">
      <i class="fa fa-sign-in"></i> Log in
    </button>
  </form>
{% endblock div_card_body %}

{% block div_card_footer %}
  <div>
    Don't have an account? <a href="{% url 'register' %}" class="card-link">Register</a>
  </div>
  <div>
    <a href="{% url 'password_reset' %}" class="card-link">Forgot your password?</a>
  </div>
{% endblock div_card_footer %}
