{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{%   if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
<div class="row">
  <form class="form-signin" method="post" action="{% url 'login' %}">
    <h2 class="form-signin-heading text-center">Log In</h2><br/>
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    <div class="col-xs-4 col-lg-6">
    <label for="{{ form.username.id_for_label }}">User Name :</label>
    <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" />
    <label for="{{ form.password.id_for_label }}">Password :</label>
    <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="20" name="{{ form.password.html_name }}" type="password" /><br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
<div class="col-xs-4 col-lg-6">
  <p>Don't have an account? <a href="{% url 'register' %}">Click here to join</a></p>
  <p><a href="{% url 'password_reset' %}">Forgotten your password</a></p>
</div>
</div>
{% endblock %}
