{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
<div>
  <form class="form-horizontal" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
<div>
  <p>Don't have an account? <a href="{% url 'register' %}">Click here to register</a></p>
  <p><a href="{% url 'password_reset' %}">Forgotten your password</a></p>
</div>
{% endblock %}
