{% extends "base_accounts.html" %}

{% comment %}
  [Password Reset Done]
  File name: password_reset_done.html
  Description: this HTML template display success message after an user submit
               password reset form. The user is provided with instructions to
               check their email for password reset confirmation link.
  Note: this comment block needs to be placed after template tag {% extends ... %}.
{% endcomment %}

{% block head_title %}Password Reset | {{ block.super }}{% endblock head_title %}

{% block div_card_header %}
  <h4>Password Reset</h4>
{% endblock div_card_header %}

{% block div_card_body %}
  <p>We've emailed you instructions for resetting your password,
    if an account exists with the email you entered. You should receive them shortly.</p>
  <p>If you don't receive an email, please make sure you've entered the address
    you registered with, and check your spam folder.</p>
  <a href="{% url 'login' %}" class="btn btn-primary btn-block">Return to log in</a>
{% endblock div_card_body %}

{% block div_card_footer %}
  <div>
    Don't have an account? <a href="{% url 'register' %}" class="card-link">Register</a>
  </div>
{% endblock div_card_footer %}
