{% extends 'base_accounts.html' %}

{% block head_title %}Password changed! | {{ block.super }}{% endblock head_title %}

{% block div_card_header %}
  <h4>Password Changed!</h4>
{% endblock div_card_header %}

{% block div_card_body %}
  <div class="alert alert-success" role="alert">
    You have successfully changed your password! You may now proceed to login.
  </div>
  <a href="{% url 'login' %}" class="btn btn-primary btn-block">Return to log in</a>
{% endblock div_card_body %}

{% block div_card_footer %}
  <div>
    Don't have an account? <a href="{% url 'register' %}" class="card-link">Register</a>
  </div>
{% endblock div_card_footer %}
