{% extends 'base.html' %}

{% comment %}
  [Password Change Completion]
  File name: password_change_done.html
  Description: this HTML template is used to display successful message after
               an user succesfully changed their password.
  Note: this comment block needs to be placed after the templage tag {% extends ... %}.
  URL: GET /account/password/done/
{% endcomment %}

{% block head_title %}Password changed successful| {{ block.super }}{% endblock head_title %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
  <a href="{% url 'profile' %}" class="btn btn-outline-primary">Return to MyAccount</a>
{% endblock %}
