{% extends 'base.html' %}

{% comment %}
  [User Account Edit Form]
  File name: profile_edit.html
  Description: the HTML form allows an user to update their details including
               first_name, last_name, email, mobile, and address.
  Note: this comment block needs to be placed after the template tag {% extends ... %}.
{% endcomment %}

{% load form_tags widget_tweaks %}

{% block head_title %}Edit profile | {{ block.super }}{% endblock head_title %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="mt-2">
        <h2 class="page-title">Update your profile</h2>
      </div>
      <form method="post" novalidate>
        {% csrf_token %}
        <!-- rendering user form fields -->
        {% if user_form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in user_form.non_field_errors %}
              <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% for field in user_form %}
          <div class="form-group">
            {% render_field field class=field|input_class placeholder=field.label %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
            {% if field.help_text %}
              <small class="form-text text-muted">
                {{ field.help_text|safe }}
              </small>
            {% endif %}
          </div> <!-- /.form-group -->
        {% endfor %}
        <!-- end rendering user form fields -->

        <!-- rendering user profile form -->
        {% if profile_form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in profile_form.non_field_errors %}
              <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% for field in profile_form %}
          <div class="form-group">
            {% render_field field class=field|input_class placeholder=field.label %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
            {% if field.help_text %}
              <small class="form-text text-muted">
                {{ field.help_text|safe }}
              </small>
            {% endif %}
          </div> <!-- /.form-group -->
        {% endfor %}
        <!-- end rendering user profile form -->
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'profile' %}">Cancel</a>
      </form>
      <div class="mt-4">
        <a href="{% url 'password_change' %}">Change Password</a>
      </div>
    </div>
  </div>
{% endblock %}
