{% extends "base_accounts.html" %}

{% comment %}
  [User Account Registration]
  File name: register.html
  Description: the user account registration
{% endcomment %}

{% block head_title %}Account Registration | {{ block.super }}{% endblock head_title %}

{% block div_card_header %}
  <h4>Register</h4>
{% endblock div_card_header %}

{% block div_card_body %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'snippets/form.html' %}
    <button type="submit" class="btn btn-primary btn-block">
      <i class="fa fa-sign-in"></i> Create an account
    </button>
  </form>
{% endblock div_card_body %}

{% block div_card_footer %}
  <div>
    Already have an account? <a href="{% url 'login' %}">Log in</a>
  </div>
{% endblock div_card_footer %}
