<!DOCTYPE html>
{% load staticfiles %}
  <html lang="en">
    <head>
      <title>
      {% block head_title %}LostPetFinder.com.au{% endblock head_title %}
      </title>
      {% include 'snippets/css.html' %}
    </head>
    <body>
      <!-- PAGE NAVIGATION BAR -->
      {% include 'snippets/nav.html' %}

      <!-- CONTENT BLOCK -->
      <div class="content container">
        <div class="row">
          <div class="col-md-10">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>

      <div class="content container">
        <div class="row">
          <div class="footer col-xs-12">
            <div class="con text-center">
              <p class="text-muted">LostPetFinder</p>
            </div>
          </div>
        </div>
      </div>

      {% include 'snippets/js.html' %}
    </body>
</html>
