{% extends "base.html" %}
{% block head_title %}Pets List || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>Pets List</h1>
<p><a class="btn btn-primary" href="{% url "pets:create" %}">Register your new pet</a></p>
<div class="row">
  {% for obj in object_list %}
  <div class="col-xs-6 col-lg-4">
  <div class="card">
  	<div class="text-center">
    <h2>{{ obj.name }}</h2>
    <p>Location : {{ obj.location }}</p>
    <p> {{obj.timestamp }} </p>
    <p>Updated : {{ obj.updated }}</p>
    <p><a class="btn btn-outline-primary" href="{{ obj.get_absolute_url }}" role="button">View details &raquo;</a></p>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
