{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }} || {{ block.super }}{% endblock head_title %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/pets.css' %}">
{% endblock %}

{% block content %}
  <!-- Display pet details -->
  {% include 'pets/pet_detail_data.html' %}
  <!-- End of pet details -->
  <!-- Display google map based on pet's location -->
  <div class="row">
    <div class="col">
      <div id="map" style="400px;height:400px;background:yellow"></div>
      <div id="petLat" value="{{ lat }}" style="display: none;"></div>
      <div id="petLng" value="{{ lng }}" style="display: none;"></div>
      {% block javascript %}
        <script src="{% static 'js/googlemap.js' %}"></script>
      {% endblock %}
    </div>
  </div>
  <!-- End of pet google map location -->
{% endblock %}
