{% extends "base.html" %}

{% comment %}
  File name: pet_list.html
  Description: the HTML file used to display a list of pets
               which are used for the views of lost/found pets and user's pets.
  Note: this comment block needs to be after the template tag {% extends ... %}.
{% endcomment %}

{% load static %}

{% block head_title %}{{ title }} || {{ block.super }}{% endblock head_title %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/pets.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">{{ title }}</h1>
<p><a class="btn btn-default" href="{% url "pets:create" %}">
  <i class="fa fa-paw"></i> Register your new pet</a></p>
<!-- Display list of pets in bootstrap card format -->
<div class="row py-2">
  {% for obj in object_list %}
    <div class="col-xs-6 col-lg-4 py-2">
      <div class="card text-center">
        {% if not obj.pet_image %}
          <img class="card-img-top rounded-circle" src="#">
        {% else %}
          <img class="card-img-top rounded-circle" src="{{ obj.pet_image.url }}">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ obj.name|upper }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ obj.pet_type }}</h6>
          <div class="card-text">
            {% ifequal obj.status|lower "lost" %}
              <p>Missing since
                <span class="badge badge-pill badge-danger">
                  {{ obj.missing_date|date:'D, d M Y' }}</span></p>
            {% endifequal %}
            {% ifequal obj.status|lower "found" %}
              <p>Found on
                <span class="badge badge-pill badge-primary">
                  {{ obj.updated|date:'D, d M Y' }}</span></p>
            {% endifequal %}
            {% ifequal obj.status|lower "registered" %}
              <p>Status
                <span class="badge badge-pill badge-info">
                  {{ obj.status|upper }}</span></p>
            {% endifequal %}
            <p>From
              <span class="badge badge-pill badge-info">
                {{ obj.location }}</span></p>
          </div> <!-- /.card-text -->
          <p><a class="btn btn-outline-primary btn-sm"
            href="{{ obj.get_absolute_url }}"
            role="button">More Info &raquo;</a></p>
        </div> <!-- /.card-body -->
      </div> <!-- /.card text-center -->
    </div> <!-- /.col-xs-6 col-lg-4 py-2 -->
  {% endfor %}
</div> <!-- /.row py-2 -->
<!-- end displaying list of pets in bootstrap card format -->
{% endblock %}
