{% extends "base.html" %}
{% block head_title %}Pets Details || {{ block.super }}{% endblock head_title %}
{% block content %}
  <h1 class="text-center">Pet Details</h1>
  <!-- Check if the selected pet is owned by authenticated user -->
  {% if user.is_authenticated and user == object.owner %}
  <p class="text-right">
    <a class="btn btn-outline-primary" href="{{ object.get_absolute_url }}edit/">Update</a>
    <a class="btn btn-outline-primary" href="{{ object.get_absolute_url }}delete/">Delete</a>
  </p>
  {% endif %}
  <h2>{{ object.name }} <small>{{ object.pet_type }}</small></h2>
  <p>{{ object.owner }}</p>
    <div class="row">
     <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <p>Missing Date: {{ object.missing_date }}</p>
          <p>Age: {{ object.age }} Years</p>
          <p>Gender: {{ object.gender }}</p>
          <p>Desexed: {{ object.desexed }}</p>
          <p>Description: {{ object.description }}</p>
        </div>
        <div class="col-md-4">
          <p> Location: {{ object.location }}</p>
          <p> Size: {{ object.size }}</p>
           <p>Colour: {{ object.colour }}</p>
        </div>
        <div class="col-md-4">
          {% if not object.pet_image %}
          <img src=http://placehold.it/360x360/>
          {% else %}
          {{ object.pet_image.url }}
          <img src="{{ object.pet_image.url }}" height="360" width="360" />
          {% endif %}
        </div>
      </div>
     </div>
    </div>

<p>Posted on {{ object.timestamp }}, Updated {{ object.updated|timesince }} ago.</p>

  <hr>
  <h4><u>Comments</u></h4>
  {% for comment in object.comments.all %}
    <div class="comment">        
    <hr>
        <p><strong>{{ comment.author }}</strong></p>
        <p>{{ comment.text|linebreaks }}</p>
        <div class="date">{{ comment.created_date }}</div>
        <hr>
    </div>
    {% empty %}
    <p>No comments</p>
  {% endfor %}
   {% if user.is_authenticated %}
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add a comment...">
      <span class="input-group-btn">
      <a class="btn btn-secondary" href="#">Add Comment</a>
      </span>
    </div>
      {% else %}
    <p>! Register or Login to post comment !</p>
    {% endif %}

{% endblock %}
