{# This pet_form.html is used for creating, updating, and deleting pet. #}

{% extends "base.html" %}

{% block head_title %}{{ title }} || {{ block.super }}{% endblock head_title %}

{% block content %}
<h3>{{ title }}</h3>
{% if form.errors %}
  {{ form.errors }}
{% endif %}
  <form method="POST">
    {% csrf_token %} <!-- Cross Site Request Forgery protection -->
    {{ form.as_p }}
  <button class='btn btn-primary' type="submit">Save</button>
  <a class='btn btn-default' href="{% url 'pets:list' %}">Cancel</a>
</form>
{% endblock %}
