{# This pet_form.html is used for creating, updating, and deleting pet. #}

{% extends "base.html" %}

{% block head_title %}{{ title }} || {{ block.super }}{% endblock head_title %}

{% block content %}
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'form.html' %}
   	{% url 'pets:create' as register_url %}
	{% if request.get_full_path == register_url %}
  		<button type="submit" class="btn btn-primary">Register</button>
  	{% else %}
  	  	<button type="submit" class="btn btn-primary">Update</button>
	{% endif %}
    <a class='btn btn-default' href="{% url 'pets:list' %}">Cancel</a>
  </form>
{% endblock %}
